/* Buffer Component CSS, inspired by Clip Component styling */
.buffer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  
}

.buffer-header{
  display: flex;
  height: 4rem;
  width: 100%;
  border-bottom: 2px solid black;
  background-color: #19b6f0;
  align-items: center;
  justify-content: center;
}

h3 {
  color: white;
  font-weight: 1100;
  font-size: 1.5rem;
}


.file-select{
  display: flex;
  width: 80%;
  margin-top: 1rem;
  margin-left: 1rem;
}

.buffer-select{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 1rem;
}

#buffer-size-input {
  width: 4rem;
  margin-left: 0.4rem;
}

.buffer-name{
  margin-top:1rem;
  display: flex;
  flex-direction: column;
}
#buffer-layer-name{
  margin-left: 1rem;
  height: 1.5rem;
  width: 11rem;
  justify-self: center;
}

.buffer-button{
  margin-top: 1.5rem;
  display: flex;
  align-self: center;
}

.button{
  
    width: 6rem;
    height: 3rem;
    color: white;
    font-weight: 500;
    
    border-radius: 5px;
}

.button.enabled {
  background-color: #28a745; /* Green color when enabled */
}

.button:hover {
  background-color: #218838; /* Darker green on hover */
}

.button:disabled {
  cursor: default;
}

.text {
  font-weight: bold;
}

.buffer-alert {
  margin-top: 20px;
}