/* Union.css */

.union-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
}

.union-header {
  display: flex;
  height: 4rem;
  width: 100%;
  border-bottom: 2px solid black;
  background-color: #19b6f0; 
  align-items: center;
  justify-content: center;
}

.union-content{
  margin-top: 1rem;
}

.union-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid black;
}

#union-item {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 80%;
  margin-left: 0.5rem;
  height: 1.5rem;
  
}

.union-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

#union-file1 {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.union-item1 {
  display: flex;
  width: 80%;
  
  
}

.union-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid black;
}

.union-item3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  border: 2px solid red;
  padding-left: 1.5rem;
}

.union-item4 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  border: 2px solid red;
  padding-right: 1.5rem;
}

#union-file2 {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.union-button-div {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.union-alert {
  margin-top: 10px;
}

.button.enabled {
  background-color: #28a745; /* Green color when enabled */
}

.button:hover {
  background-color: #218838; /* Darker green on hover */
}

.button:disabled {
  cursor: default;
}

.text {
  font-weight: bold;
}

.buffer-alert {
  margin-top: 20px;
}

/* Styling for Alert */
.MuiAlert-root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Higher z-index */
  width: 200px; /* Adjust width as needed */
}

.buffer-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Lower z-index */
  pointer-events: none;
}

.buffer-content p {
  margin-top: 2rem; /* Adjust margin as needed */
}
