.data-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    flex-grow: 1;
  }
  
  .data-files-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    justify-content: flex-start; /* Start items at the top */
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: calc(100% - 2rem);
    overflow-y: none;
    border: 2px solid red;
    overflow-y: auto;
    overflow-x: hidden;
    

  }
  
  .data-files-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    border: 2px solid firebrick;
    overflow-x: hidden;
    width: 100%;
    padding: 0.2rem;
  }

  .data-files-item .data-file-name {
    white-space: nowrap;
    max-width: 100%;
    word-wrap: break-word;
    text-overflow: ellipsis;

  }
  
  .add-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: var(--icon-size);
    height: var(--icon-size);
  }
  
  .data-files-dropzone{
    align-self: center;
  }

  .data-files-dropzone-text{
    font-style: italic;
    color: gray;
    text-align: start;
  }