.sidebar {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.sidebar-header {
  flex-basis: 8%;
  display: flex;
  background-color: #d9d9d9;
  border-bottom: 1px solid black;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.sidebar-options {
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar-options-list {
  flex: 1;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar-options-list li {
  flex: 1;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #000;
  text-align: center;
}
.sidebar-selected-option {
  flex-basis: 60%;
  background-color: #d9d9d9;
  text-align: center;
}

.selected {
  background-color: dimgrey;
  color: white;
}

